@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Noto+Serif+KR:wght@400;700&display=swap');
@font-face {
    font-family: 'GowunDodum-Regular'; /* 고운돋움 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light'; /* 에스코어드림 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HancomMalangMalang-Regular'; /* 한컴 말랑말랑 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Meddon';
    src: url('./Meddon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_jooreeletter-Rg'; /* 온글리프 주리레터 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_jooreeletter-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OwnglyphMoogungChae'; /* 온글리프 무궁채 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/OwnglyphMoogungChae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* title info */
.title-message {
    font-family: 'Meddon';
    font-weight: 400;
    font-size: 2.8rem;
    text-align: right;
    padding : 0 10px;
    color: #ff7373; /* 파스텔 핑크 색상 적용 */
}

.small-font {
    font-size: 1.3rem; /* 원하는 크기로 설정 */
}

.title-name {
    font-family: 'GowunDodum-Regular', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

/* wedding calender info */
.date-text {
    margin-bottom: 2rem;
}

.wedding-title {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 25px;
    color: #d9534f;
}

.wedding-date {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 20px;
    color: #5d5d5d;
}

.wedding-location {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 17px;
    color: #5d5d5d;
}