.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 300px; /* 모든 이미지의 높이를 200px로 고정 */
    object-fit: cover; /* 이미지를 프레임에 맞추어 자름 */
    border-radius: 10px;
    cursor: pointer;
}

.gallery-title {
    font-size: 2rem;
    color: rgba(217, 83, 79, 0.75);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.gallery-more {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.gallery-more a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}

.gallery-more::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

@media (max-width: 600px) {
    .gallery img {
        height: 150px; /* 모바일에서 이미지 높이를 150px로 조정 */
    }
}

@media (max-width: 400px) {
    .gallery img {
        height: 150px; /* 작은 화면에서 이미지 높이를 150px로 조정 */
    }
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 400px) {
    .close {
        font-size: 30px;
    }
}

.hidden {
    display: none !important;
}

#loadMore {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#gallery-container {
    margin-bottom: 100px;
}