@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 !important;
}

.text-center {
    text-align: center;
}

.my-5 {
    margin: 3rem 0;
}

#first-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.background-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#petalsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.text-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1; /* 텍스트가 캔버스 위에 표시되도록 설정 */
}

.image-container {
    margin: 2rem 0; /* 상단과 하단 여백 조정 */
    position: relative;
    max-width: 600px;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 잘림 방지 */
    object-position: center; /* 이미지 중앙 배치 */
}


.date-text h1, .date-text h2, .date-text h3 {
    margin: 0;
    padding: 0.5rem 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#petalsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6c757d;
}

.video-container {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#map {
    width: 100%;
    height: 300px;
}

.contact-info a {
    text-decoration: none;
    color: #007bff;
}

.guestbook-entry {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
}

.guestbook-entry strong {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 30px;
}

#guestMessageForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#guestMessageForm .form-label {
    font-weight: bold;
    margin-top: 10px;
}

#guestMessageForm .form-control {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}

#guestMessageForm .btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

#guestMessageList {
    margin-top: 30px;
}

.guestbook-entry {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.guestbook-entry strong {
    font-size: 1.1rem;
    color: #007bff;
    display: block;
    margin-bottom: 0.5rem;
}

.guestbook-entry p {
    margin: 0;
    font-size: 1rem;
    color: #212529;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 0.25rem;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #007bff;
    color: #ffffff;
}

#pagination button.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

/* invitation */
.invitation {
    margin: 2rem 0;
    padding: 2rem;
    background-color: #ffe6e9; /* 연한 핑크 배경색 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.invitation img {
    width: 20px;
    vertical-align: middle;
}

.name-container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.names {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25rem;
}
.name-group {
    display: flex;
    justify-content: center; /* 각 그룹 내부 요소를 중앙 정렬 */
    width: 100%; /* 전체 그룹의 너비 */
    align-items: center; /* 이미지와 텍스트를 세로로 중앙 정렬 */
}
.name {
    flex: 4; /* 각 요소의 너비를 동일하게 설정 */
    display: flex;
    align-items: center;
    text-align: center; /* 중앙 정렬 */
    justify-content: center; /* 중앙 정렬 */
}

.name-father {
    flex: 5; /* 각 요소의 너비를 동일하게 설정 */
    display: flex;
    align-items: center;
    text-align: center; /* 중앙 정렬 */
    justify-content: center; /* 중앙 정렬 */
}
.name-img {
    margin-right: 5px; /* 이미지와 이름 사이의 간격 */
}
.name-img img {
    width: 20px;
    height: 20px; /* 이미지의 크기를 고정 */
    vertical-align: middle; /* 이미지 수직 정렬 */
}
.name-img img.empty {
    visibility: hidden; /* 빈 이미지가 영역을 차지하도록 설정 */
}
.role, .person {
    flex: 4; /* 각 요소의 너비를 동일하게 설정 */
    text-align: center; /* 중앙 정렬 */
}
.separator, .relation {
    flex: 1; /* separator와 relation 영역을 더 작게 설정 */
    text-align: center; /* 중앙 정렬 */
}



.fc-sun, .fc-red {
    color: red !important;
}

.calendar-container canvas {
    width: 100%;
    height: auto;
}

#location {
    background-color: #fff; /* 흰색 배경 */
    padding: 20px;
    border-radius: 10px; /* 둥근 모서리 설정 */
    text-align: center;
    border: 1px solid #e0e0e0; /* 연한 회색 테두리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#location-title {
    font-size: 2rem;
    color: #d9534f; /* 제목 색상 */
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
    display: inline-block;
}

#location-description {
    font-size: 1.2rem;
    color: #333; /* 텍스트 색상 */
    margin-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

#location-details {
    font-size: 1rem;
    color: #555; /* 텍스트 색상 */
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.5; /* 줄 간격 조정 */
    margin-bottom: 20px;
}

.location-image {
    width: 100%;
    max-width: 600px; /* 이미지 최대 너비 설정 */
    height: auto; /* 높이는 자동으로 조정 */
    margin-top: 20px; /* 이미지와 다른 요소 간의 간격 설정 */
    border-radius: 10px; /* 이미지의 둥근 모서리 설정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.message-container {
    text-align: center;
    margin: 20px 0;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.message-container h2 {
    font-size: 2rem;
    color: #FFB6C1; /* 연한 핑크 파스텔 색상 */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-container h2::before {
    margin-right: 10px;
    font-size: 1.5rem;
}
.message-container p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}
.accordion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
.accordion .card {
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}
.accordion .card button {
    width: 100%;
    text-align: left;
    padding: 15px;
    background-color: #f9f9f9;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .card button:hover {
    background-color: #e0e0e0;
}
.accordion .card button.active {
    background-color: #FFB6C1; /* 연한 핑크 파스텔 색상 */
    color: #fff;
}
.accordion .card button.active .icon {
    transform: rotate(180deg);
}
.accordion .card button .icon {
    transition: transform 0.3s ease;
}
.accordion .content {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
}
.accordion .content p {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.guestbook-entry {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.delete-btn {
    color: #ff6b6b;
    border: none;
    background: none;
    cursor: pointer;
}

.delete-btn:hover {
    text-decoration: underline;
}
