body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}
.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: contain; /* 이미지가 잘리지 않고 컨테이너에 맞게 비율을 유지 */
}
.section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6c757d;
}
.video-container {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
#map {
    width: 100%;
    height: 300px;
}
.contact-info a {
    text-decoration: none;
    color: #007bff;
}
.guestbook-entry {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
}
.guestbook-entry strong {
    display: block;
    margin-bottom: 0.5rem;
}
.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 500px; /* 원하는 높이로 설정 */
    object-fit: contain; /* 이미지가 슬라이드 영역을 채우도록 설정 */
}

/* 갤러리 */
.gallery-title {
    font-size: 2rem;
    color: #6c757d;
    text-align: center;
    margin-bottom: 20px;
}
.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}
.gallery-more {
    text-align: center;
    margin-top: 20px;
}
.gallery-more a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}