@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 !important;
}

.text-center {
    text-align: center;
}

.my-5 {
    margin: 3rem 0;
}

#first-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.background-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#petalsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.text-overlay {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1; /* 텍스트가 캔버스 위에 표시되도록 설정 */
}

.text-overlay-bottom {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1; /* 텍스트가 캔버스 위에 표시되도록 설정 */
}

.letter {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;    /* 한글자씩 fadeIn 애니메이션*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title-message {
    font-family: 'Meddon', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0; /* 필요 시 추가적인 마진 설정 */
}

.image-container {
    margin: 2rem 0; /* 상단과 하단 여백 조정 */
    position: relative;
    max-width: 600px;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 잘림 방지 */
    object-position: center; /* 이미지 중앙 배치 */
}


.date-text h1, .date-text h2, .date-text h3 {
    margin: 0;
    padding: 0.5rem 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#petalsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #6c757d;
}

.movie-date-text {
    margin-bottom: 1rem;
}

.movie-title {
    font-family: 'Will-Love', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0000006b;
}

.video-container {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.contact-info a {
    text-decoration: none;
    color: #007bff;
}

.guestbook-entry {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
}

.guestbook-entry strong {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.guestbook {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.guestbook-title {
    font-family: 'Will-Love', sans-serif;
    font-size: 20px;
    color: #0000006b;
    margin-bottom: 20px;
}

#guestMessageForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#guestMessageForm .form-label {
    font-weight: bold;
    margin-top: 10px;
}

#guestMessageForm .form-control {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}

#guestMessageForm .btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

#guestMessageList {
    margin-top: 30px;
}

.guestbook-entry {
    border: 1px solid #dee2e6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.guestbook-entry strong {
    font-size: 1.1rem;
    color: #007bff;
    display: block;
    margin-bottom: 0.5rem;
}

.guestbook-entry p {
    margin: 0;
    font-size: 1rem;
    color: #212529;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    background-color: #ffffff;
    color: #007bff;
    border-radius: 0.25rem;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #007bff;
    color: #ffffff;
}

#pagination button.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.names {
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    font-family: 'S-CoreDream-3Light', sans-serif;
}

.name-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.name-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.name-img {
    display: flex;
    align-items: center;
    width: 20px;
}

.congrats-button {
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #F3E8E9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
    margin-top: 20px;
}

.congrats-button:hover {
    background-color: #F3E8E9;
}

.arrow {
    margin-left: 10px;
    font-size: 18px;
}

.fc-sun, .fc-red {
    color: red !important;
}

.calendar-container canvas {
    width: 100%;
    height: auto;
}
#location {
    background-color: #fff; /* 흰색 배경 */
    padding: 20px;
    border-radius: 10px; /* 둥근 모서리 설정 */
    text-align: center;
}

#location-title {
    font-size: 1.2rem;
    color: #000000; /* 제목 색상 */
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    border-radius: 10px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
    margin-bottom: 20px;
}

#location-title-text {
    font-size: 20px;
    color: #0000006b; /* 제목 색상 */
    font-family: 'Will-Love', sans-serif;
    border-radius: 10px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
}

#location-description {
    font-size: 15px;
    color: #000000; /* 텍스트 색상 */
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    margin: 0;
}

#location-details {
    font-size: 15px;
    color: #000000; /* 텍스트 색상 */
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    display: inline; /* 텍스트를 인라인으로 설정 */
    margin: 0;
}

#address-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: .5rem;
}

.copy-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    display: inline; /* 아이콘을 인라인으로 설정 */
}

.copy-icon img {
    width: 20px; /* 아이콘 크기 설정 */
    height: 20px;
    vertical-align: middle; /* 텍스트와 아이콘을 수직 정렬 */
}

.location-image {
    width: 100%;
    max-width: 600px; /* 이미지 최대 너비 설정 */
    height: auto; /* 높이는 자동으로 조정 */
    margin-top: 20px; /* 이미지와 다른 요소 간의 간격 설정 */
    border-radius: 10px; /* 이미지의 둥근 모서리 설정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}


.message-container {
    text-align: center;
    margin: 20px 0;
    padding: 60px 0 10px 0;
    background-color: #fff;
    border-radius: 10px;
}

.message-container-account {
    font-size: 20px;
    color: #0000006b; /* 제목 색상 */
    font-family: 'Will-Love', sans-serif;
    border-radius: 10px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
}

.message-container-account-sub {
    font-size: 20px;
    color: #000000; /* 제목 색상 */
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    border-radius: 10px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
}

.message-container p {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 15px;
    margin-top: 50px;
    line-height: 2.0rem;
}
.accordion {
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    font-size: 14px;
    line-height: 1.7rem;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 0 3rem 0 3rem;
}

.card {
    border: 2px solid #F3E8E9;
    margin: 0.5rem 0;
}


.accordion-btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #F3E8E9;
    color : black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.accordion-btn .icon {
    font-size: 24px;
}

.accordion-btn.active .icon {
    transform: rotate(180deg);
}

.icon {
    display: flex;
    align-items: center;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    stroke: #000; /* 검정색으로 아이콘 색상 설정 */
    transition: transform 0.3s ease;
}

.content {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.content-inner {
    padding: 20px;
}

.account-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.account-info p {
    margin: 0;
}

.pay-btn, .copy-btn {
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 12px;
    color : black;
    margin-left: 10px;
}

.pay-btn:hover, .copy-btn:hover {
    background-color: #dc354536;
    color : black;
}

.animate-fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.guestbook-entry {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.delete-btn {
    color: #ff6b6b;
    border: none;
    background: none;
    cursor: pointer;
}

.delete-btn:hover {
    text-decoration: underline;
}

.copy-icon {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
}

.copy-icon:hover {
    text-decoration: underline;
}

/* CSS 애니메이션 스타일 추가 */
.animate-fade-in {
    opacity: 0;
    transform: translateY(20px); /* 애니메이션 시작 위치 조정 */
    transition: opacity 3s ease-out, transform 3s ease-out; /* 애니메이션 시간을 1초로 설정 */
}

.animate-fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* 축하 연락하기 모달*/
/* 축하 연락하기 모달 */
.modal-congratulation {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-congratulation .modal-content {
    background-color: #fefefe;
    padding: 10% 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-congratulation .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 두 열로 설정 */
    gap: 30px;
    width: 100%; /* 그리드가 전체 너비를 차지하도록 설정 */
}

.modal-congratulation .contact-grid div {
    text-align: center;
    width: 100%; /* 각 셀이 전체 너비를 차지하도록 설정 */
}

.modal-congratulation .contact-grid h3 {
    margin: 10px 0 5px 0;
}

.modal-congratulation .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-congratulation .icons .icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.modal-congratulation-role, .modal-congratulation-name {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 15px;
}
.modal-congratulation-name {
    font-weight: bold;

}


/* Map 영역*/
.map-button {
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    background-color: #F3E8E9; /* 배경색을 핑크색으로 설정 */
    border: 1px solid white; /* 핑크빛 테두리 추가 */
    border-radius: 5px; /* 둥근 테두리 */
    cursor: pointer;
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    transition: background-color 0.3s;
}

/* navi 영역*/
/* CSS */
.navi {
    margin-top: 20px;
}

.navigation {
    font-family: 'S-CoreDream-3Light', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.navigation p {
    font-size: 13px;
}

.navigation-apps {
    display: flex;
    font-family: 'S-CoreDream-2ExtraLight', sans-serif;
    justify-content: space-between; /* 버튼 간 동일한 간격 */
    gap: 10px; /* 버튼 사이의 간격 */
}

.navigation-apps button {
    display: flex;
    align-items: center;
    justify-content: center; /* 버튼 내의 콘텐츠를 중앙 정렬 */
    font-size: 13px;
    flex: 1; /* 모든 버튼이 동일한 너비를 가지도록 설정 */
    cursor: pointer;
    background-color: #F3E8E9; /* 배경색을 핑크색으로 설정 */
    color : black;
    border: 1px solid white; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 테두리 */
    padding: 10px; /* 패딩 추가로 가독성 향상 */
    max-width: 200px; /* 버튼의 최대 너비를 설정 */
}

.navigation-apps button img {
    margin-right: 5px; /* 아이콘과 텍스트 사이의 간격 */
}

.navigation-apps img {
    width: 20px;
    margin-right: 5px;
}

.directions {
    margin: 50px 0;
    text-align: left;
    font-family: 'S-CoreDream-3Light', sans-serif;
}

.directions h3 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.directions p {
    font-size: 14px;
    margin: 5px 0;
    line-height: 1.7;
}

.directions h3 img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.directions p img {
    width: 15px;
    height: 18px;
    margin-right: 3px;
    padding-bottom: 3px;
}

.line-general {
    border: none; /* 기본 테두리 제거 */
    height: 1px; /* 선의 높이 설정 */
    background-color: #ccc; /* 선의 색상 설정 */
    margin: 20px 0; /* 위아래 간격 설정 */
}
/* #last 컨테이너 스타일 */
#last {
    position: relative;
    background: url('https://dwp9wba2tw70x.cloudfront.net/img/last.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.last-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.last-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* 텍스트 스타일 */
.footer-text {
    margin-top: 0; /* 상단에 붙이기 */
    margin-bottom: auto; /* 자동으로 아래로 밀기 */
    padding-top: 20px; /* 상단 여백 조정 */
    width: 100%; /* 가로폭 꽉 채우기 */
}

.footer-text .tanks-to {
    font-family: 'Hicks Bryant', sans-serif;
    font-size: 14px;
    color: white; /* 제목 색상 */
}

.footer-text p {
    font-family: 'GowunDodum-Regular', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    line-height : 22px
}

/* 아이콘 스타일 */
.footer-icons {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 195px;
}

.footer-icons svg {
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-right: 8px;
}

.cls-1 {
    fill: white;
}

.footer-icons div {
    margin: 5px 0;
    display: flex;
    text-align: center;
}

.footer-icons p {
    margin: 5px 0 0;
    font-size: 13px;
}

.footer-text {
    margin-bottom: auto;
}

.copyright {
    margin-top: auto;
    font-size: 12px;
}

.subway-1 {
    color: #0032A0;
}

.subway-3 {
    color: #FC4C02;
}

.subway-4 {
    color: #00A9E0;
}

.subway-s {
    color: 	#D4003B;
}
.subway-g {
    color: 	#77C4A3;
}