
.invitation-header h1 {
    font-family: 'GowunDodum-Regular', sans-serif; /* 고운돋움 */
    font-size: 16px;
    line-height: 33px;
    margin: 50px 0;
}

.invitation-img, .invitation-img-1, .invitation-img-2 {
    position: relative;
    margin-bottom: 20px;
}

.invitation-img img {
    width: auto;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.invitation-img-1 img, .invitation-img-2 img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.invitation-text {
    text-align: center;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.invitation-text .korean {
    font-family: 'Ownglyph_jooreeletter-Rg', sans-serif;
    font-size: 19px;
}

p.invitation-text {
    font-family: 'Ownglyph_jooreeletter-Rg', sans-serif;
    line-height: 40px;
    text-align: center;
    margin: 2rem 30px;
    margin-bottom: 25px !important;
    font-size: 19px;
    font-weight: 500;
    color: #333;
}

.invitation-text-from {
    font-family: 'OwnglyphMoogungChae', sans-serif; /* 온글리프 무궁채 */
    margin-bottom: 3rem;
    font-size: 21px;
    color: #333;
}