
.invitation-header h1 {
    font-family: 'S-CoreDream-3Light', sans-serif; /* 에스코어드림 */
    font-size: 24px;
    line-height: 2.5rem;
    margin: 2rem 0;
}

.invitation-img, .invitation-img-1, .invitation-img-2 {
    position: relative;
    margin-bottom: 20px;
}

.invitation-img img, .invitation-img-1 img, .invitation-img-2 img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.invitation-text {
    text-align: center;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.invitation-text .korean {
    font-family: 'Ownglyph_jooreeletter-Rg', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

p.invitation-text {
    font-family: 'Ownglyph_jooreeletter-Rg', sans-serif;
    line-height: 40px;
    text-align: left; /* 왼쪽 정렬 */
    margin: 2rem 50px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.invitation-text-from {
    font-family: 'OwnglyphMoogungChae', sans-serif; /* 온글리프 무궁채 */
    margin-bottom: 4rem;
    font-size: 20px;
    color: #333;
}

@media (max-width: 600px) {
    .invitation-header h1 {
        font-size: 20px;
    }

    .invitation-text .english {
        font-size: 36px;
    }

    p.invitation-text {
        font-size: 16px;
    }

    .invitation-text-from {
        font-size: 18px;
    }
}