.tab-info-container {
    text-align: center;
    height: 500px;
    /*border-bottom: 1px solid #ccc;*/
    position: relative; /* ::after 가상 요소를 위한 position 설정 */
}

.tab-info-container-title {
    font-size: 20px;
    color: #0000006b; /* 제목 색상 */
    font-family: 'Will-Love', sans-serif;
    border-radius: 15px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
}

.tab-info-container-sub-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000; /* 제목 색상 */
    font-family: 'GowunDodum-Regular', sans-serif;
    border-radius: 15px;
    background-color: #fff; /* 제목 배경을 흰색으로 설정 */
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 0 2rem 0 2rem;
}
.tabs button {
    background-color: #f4cdcd1f;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: background-color 0.3s ease;
    color: #777;
    flex: 1; /* 탭 버튼을 동일한 너비로 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
}

.tabs button.active {
    background-color: transparent;
    color: #e96d98;
    border-bottom: 2px solid #e96d98;
}
.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.tab-content.active {
    display: block;
}
.tab-content img {
    max-width: 100%;
    border-radius: 10px;
}
.tab-content p {
    font-family: 'S-CoreDream-3Light', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.tab-hall img {
    width: 80%;
    max-height: 180px;
}

.tab-info-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8rem; /* 좌측 패딩과 일치 */
    right: 8rem; /* 우측 패딩과 일치 */
    height: 1px;
    background-color: #e96d987d;
}