.timer-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    width: 100%;
    background-color: #ffe6e9;
    background: url('https://dwp9wba2tw70x.cloudfront.net/img/timer.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 5rem;
}

.timer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.timer {
    text-align: center;
    position: relative;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: white;
    max-width: 90%;
    margin: auto;
    z-index: 3;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.countdown-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: white;
    text-shadow: none;
}

.countdown-values {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.countdown-item {
    text-align: center;
    margin: 0 0.5rem;
}

.countdown-separator {
    font-size: 2rem;
    margin: 0 0.5rem;
}

.countdown-label {
    font-family: 'GowunDodum-Regular', sans-serif;
    display: block;
    font-size: 1rem;
}

.countdown-value {
    font-family: 'S-CoreDream-3Light', sans-serif; /* 에스코어드림 */
    display: block;
    font-size: 2rem;
    color: white;
}

.timer h2 {
    font-family: 'HancomMalangMalang-Regular', sans-serif;
    font-size: 15px;
    margin: 0;
    position: relative;
    z-index: 4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
